@page
@model ResurseModel
@{
    ViewData["Title"] = "Resurse";
}

<body>
    <div><a href="https://pixnio.com/flora-plants/vegetables/food-vegetable-tomato-diet-carrot-nutrition-dinner-salad" class="links">Photo on Pixnio</a></div>
    <div><a href="https://www.pexels.com/photo/red-meat-with-chili-pepper-and-green-spies-65175/" class="links">Photo by mali maeder</a></div>
    <div><a href="https://www.pexels.com/photo/assorted-cocktail-drinks-7259083/" class="links">Photo by Aram Diseño</a></div>
    <div><a href="https://www.pexels.com/photo/food-on-brown-board-2531189/" class="links">Photo by Engin Akyurt</a></div>
</body>


